<div style="text-align:center">
    <h1>
        Welcome to {{ title }}
    </h1>
    <img width="300" alt="Overwatch Logo" src="https://www.freepnglogos.com/uploads/overwatch-logo-vector-0.png">
</div>

<nav>
    <a routerLink="/dashboard">Dashboard </a>
    <a routerLink="/heroes"> Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>



<h3>Links Relacionados: </h3>
<ul>
    <li>
        <h5><a target="_blank" rel="noopener" href="https://playoverwatch.com/"><b></b>Site Oficial</a></h5>
    </li>
    <li>
        <h5><a target="_blank" rel="noopener" href="https://overwatch.gamepedia.com/Overwatch_Wiki">Overwatch Wiki</a></h5>
    </li>
    <li>
        <h5><a target="_blank" rel="noopener" href="https://overwatch.fandom.com/wiki/Overwatch_Wiki">Overwatch Fan Wiki</a></h5>
    </li>
</ul>